*{
background-color: bisque;

}
input {
  width: 500px;
  height: 40px;
  font-size: 18px;
}

#lista-de-productos {
  display: flex
}

h1{
  text-align: center;
}
.producto {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.producto img {
  width: 70%;
  height: auto;
  
}

.botonesDeFiltrado{

  border: 2px solid black;
}